# Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
pubspec.lock

# IDEs
.idea/
*.iml

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/engine/

# Android (若有 android/)
android/.gradle/
android/.idea/
android/local.properties
android/app/build/

# Web
web/.dart_tool/
web/.packages

# VSCode
.vscode/
